<!-- project/templates/project/base.html
 nbockert@bu.edu
 base.html provides a directory for templates-->
{% load static %}
<html>
    <head>
        <title>Wander</title>
        <link rel="stylesheet" href="/static/proj_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Parkinsans:wght@300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="navbar">
                <div class="navbar-left">
                    <h1>Wander</h1>
                </div>
                <div class="navbar-center">
                    {% if request.user.is_authenticated %}
                        Logged in user: {{ request.user }}.
                    {% endif %}
                    <a href="{%url 'search'%}">Search</a>
                </div>
                <div class="navbar-right">
                    <ul>
                        <li><a href="{% url 'show_all_accounts' %}">Show All Accounts</a></li>
                        {% if request.user.is_authenticated %}
                            <li><form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="Btn">
                                    <div class="sign">
                                        <svg viewBox="0 0 512 512">
                                            <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                                        </svg>
                                    </div>
                                    <div class="text">Logout</div>
                                </button>
                            </form></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'create_account' %}">Create New Account</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
        
    {% block content %}
    <!--fill in this section with specific page detail-->

    {% endblock %}

    </body>
</html>