<!-- project/templates/project/create_trip_form.html 
 nbockert@bu.edu
 create a trip-->

{% extends 'project/base.html'  %}

{% block content %}



<h1 class="header">Create a Trip for {{account}}</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

<table class="form">
    {{form.as_table}}
    <tr>
        <td></td>
        <td><strong>Add Image(s):</strong><input type="file" value="Upload Image(s)" name = "files" multiple /></td>
        <td><input type="submit" name="submit" value="Create Trip">
        </form>
        <form action="{% url 'show_all_accounts'%}">
            <input type="submit" name="Cancel" value="Cancel">
        </form>
        </td>
    </tr>
</table>


{% endblock %}