<!-- project/templates/project/leaderboard.html -->
{% extends 'project/base.html' %}

{% block content %}
<div>
    <a href="{%url 'show_account' user_score.account.pk%}" class="link_button">Back to my Account</a>
</div>
<h1>Leaderboard</h1>
<p class="myscore">Your Rank: {{ user_rank }}</p>
<p class="myscore">Your Score: {{ user_score.score }}</p>
<table id="lead_tab">
    <tr>
        <th>Rank</th>
        <th>Account</th>
        <th>Score</th>
    </tr>
    {% for score in leaderboard %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ score.account }}</td>
        <td>{{ score.score }}</td>
    </tr>
    {% endfor %}
</table>


{%endblock%}