<!-- project/templates/project/login.html -->

{% extends 'project/base.html'  %}

{% block content %}

<h1>Login</h1>

<form method="POST" class="form">
    {% csrf_token %}
    {{form}}
    <br>
    <input type="submit" name="submit" value="Login" class="link_btn">
    <!-- what page to show next, i.e., after login success -->
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% else %}
    <input type="hidden" name="next" value="{% url 'show_all_accounts' %}">
    {% endif %}
</form>
<hr>
<div class="center">
<p>Not registered yet?</p><a href="{% url 'create_account' %}" class="link_button">Create New Account</a>
</div>
{% endblock %}