<!-- restaurant/templates/restaurant/base.html -->
{% load static %}
<html>
    <head>
        <title>Hello, world!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <div class="navbar">
            <ul>
                <li><a href="{%url 'main'%}"><b>Home Page</b></a></li>
                <li><a href="{%url 'order'%}"><b>Order</b></a></li>

            </ul>
        </div>
        </nav>
        
    {% block content %}
    <!--fill in this section with specific page detail-->

    {% endblock %}

    </body>
</html>