<!-- mini_fb/templates/mini_fb/login.html -->

{% extends 'mini_fb/base.html'  %}

{% block content %}

<h1>Login</h1>

<form method="POST" class="form">
    {% csrf_token %}
    {{form}}

    <input type="submit" name="submit" value="Login" class="button-29">
    <!-- what page to show next, i.e., after login success -->
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% else %}
    <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
    {% endif %}
</form>

{% endblock %}