
<!-- templates/show_profile.html 
 nbockert@bu.edu
 Shows all the profiles as a table -->
 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <profile>
    <a href="{% url 'profile' profiles.pk %}"></a>
    <img id="profile_img" src="{{profile.profile_img_url}}">
    <h1>{{profile.first}} {{profile.last}}</h1>
    <h2>{{profile.city}}</h2>
    <div class="contact-item">
        <img src="email-icon.png" alt="Email Icon" class="icon">
        <a href="mailto:{{profile.email}}" rel="nofollow">{{profile.email}}</a>

        
    </div>
</profile>

 {% endblock %}