
<!-- templates/show_profile.html 
 nbockert@bu.edu
 Shows all the profiles as a table -->
 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <main class="grid_container">
 <profile>
    <h1>{{profile.first}} {{profile.last}}</h1>
    <img id="profile_img" src="{{profile.profile_img_url}}">
    <div class="profile-container">
        <div class="profile-info">
            <span class="icon-text">
                <img src="/static/home-icon.png" alt="icon" class="icon">
                <h2>{{ profile.city }}</h2>
            </span>
            <span class="icon-text">
                <img src="/static/email-icon.png" alt="icon" class="icon">
                <h2><a id="email" href="mailto:{{ profile.email }}" rel="nofollow">{{ profile.email }}</a></h2>
            </span>
        </div>
    </div>
</profile>
<div class="status">
    {% if profile.get_status_messages %}
        <h2>Status Messages</h2>
        <!-- call the get_comments method on the article object -->
        <!-- {{article.get_comments}} -->
        {% for p in profile.get_status_messages %}
        <div>
            <strong>{{p}}</strong>
        </div>
        {% endfor %}
    {% else %}
        <h2>No Comments</h2>
    {% endif %}
</div>
</main>

 {% endblock %}