
<!-- templates/show_all_profiles.html 
 nbockert@bu.edu
 Shows all the profiles as a table *** The issue is you need to think of this as a one to many-->
 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <h1>Showing all Profiles</h1>
 <!-- scriptlet code to display the value of the variable `articles` 
 {{ articles }}
 -->
<!-- {{profiles}} -->
 <div>
     <div>
         <table border="1">
             <thead>
                 <tr>
                     <th>Name</th>
                     <th>City</th>
                     <th>Email</th>
                     <th>Profile Image</th>
                 </tr>
             </thead>
             <tbody>
                {% for p in profiles %}
                 <tr>
                     <td>{{p.first}} {{p.last}}</td>
                     <td>{{p.city}}</td>
                     <td>{{p.email}}</td>
                     <td><img src={{p.profile_img_url}}></td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
     </div>
 <div>
    <div>
        {% if profiles.get_profile %}
            <h2>Profile</h2>
            <!-- call the get_comments method on the article object -->
            <!-- {{article.get_comments}} -->
            {% for c in article.get_comments %}
            <div>
                <strong>by {{c.author}} at {{c.published}}</strong>
                <p>
                    {{c.text}}
                </p>
            </div>
            {% endfor %}
        {% else %}
            <h2>No Comments</h2>
        {% endif %}
    </div>
 {% endblock %}