
<!-- templates/show_profile.html 
 nbockert@bu.edu
 Shows all the profiles as a table -->
 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <main class="grid_container">
 <profile>

    <h1>{{profile.first}} {{profile.last}}</h1>
    <img id="profile_img" src="{{profile.profile_img_url}}">
    <div class="profile-container">
        <div class="profile-info">
            <span class="icon-text">
                <img src="/static/home-icon.png" alt="icon" class="icon">
                <h2>{{ profile.city }}</h2>
            </span>
            <span class="icon-text">
                <img src="/static/email-icon.png" alt="icon" class="icon">
                <h2><a id="email" href="mailto:{{ profile.email }}" rel="nofollow">{{ profile.email }}</a></h2>
            </span>
        </div>
    </div>
    <a href="{%url 'update_profile' profile.pk%}" id="statuscreate">Update Profile</a>

<div class="status">
    <p>Status Messages</p>
    <a href="{% url 'create_status' profile.pk%}" id="statuscreate">Create Status</a>
    {% if profile.get_status_messages %}
        {% for p in profile.get_status_messages %}
        <div>
            <strong><p>{{p.profile}}:</p></strong>
            <p>{{p.message}}</p>
            {% if p.get_images %}
                {% for img in p.get_images%}
                    <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
                {% endfor %}
            {%endif%}
            <small id="time">{{p.timestamp}}</small>
            <a href="{% url 'update_status' p.pk %}">Update Status</a>
            <a href="{% url 'delete_status' p.pk %}">Delete Status</a>

        </div>
        {% endfor %}
    {% else %}
        <h2>No Status Messages Yet</h2>
    {% endif %}
</div>
</profile>
</main>

 {% endblock %}