<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
    <h1>About</h1>
    <p>
        Kanye West, born Kanye Omari West on June 8, 1977, in Atlanta, Georgia, is a highly influential American rapper, producer, fashion designer, and entrepreneur. He grew up in Chicago, Illinois, after his parents divorced when he was three. Raised by his mother, Donda West, who was an English professor, Kanye developed a passion for the arts at a young age.

        Kanye initially gained fame in the early 2000s as a producer for Roc-A-Fella Records, working with prominent artists like Jay-Z. He transitioned to a solo career with his debut album The College Dropout (2004), which was critically acclaimed and commercially successful. His music is known for blending genres, pushing boundaries, and tackling social issues.
        
        West's discography includes iconic albums like Late Registration (2005), Graduation (2007), 808s & Heartbreak (2008), and My Beautiful Dark Twisted Fantasy (2010), solidifying his reputation as one of the most innovative figures in hip-hop.
        
        In addition to music, Kanye has made his mark in the fashion world, particularly with his Yeezy brand in collaboration with Adidas. He has also been involved in various business ventures and political activism, even running for President of the United States in 2020.
        
        Kanye's personal life has been the subject of widespread media attention, including his marriage to reality TV star Kim Kardashian, with whom he has four children, and his outspoken nature on various issues.
        
        West has garnered numerous awards throughout his career, making him one of the best-selling music artists of all time.    </p>
{% endblock %}
